<!DOCTYPE html>
<html>
  <head>
    <title>TtsEcommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<div class="container">

<nav class="navbar ">
  <div class="collapse navbar-collapse">
     <% if user_signed_in? %>
          <div class="navbar-nav pull-right">
              <span class="nav-item"><%= current_user.email %></span>
              <%= link_to "Edit Profile", edit_user_registration_path, class: 'nav-item nav-link' %>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: ' nav-item nav-link' %>
            </div>
          <% end %>
        </div>
      </nav>

	<%= yield %>
	</div>
  </body>
</html>


